<template functional>
  <a class="Event" :href="props.href" v-on:click="listeners.click">
    <div class="Event-meta">
      <div class="Event-meta-venue">
        <span class="text-overflow-ellipsis">{{ props.event.venue.name }}</span>
        <Icon icon="favorite-2" v-if="props.isFavoriteVenue" />
      </div>
      <div class="Event-meta-time">
        <template v-if="props.event.hasTime">
          <time :dateTime="props.event.from">{{ $options.methods.from(props) }}</time>
          <template v-if="props.event.until">
            -
            <time :dateTime="props.event.until">{{ $options.methods.until(props) }}</time>
          </template>
        </template>
        <template v-else>{{ parent.$t('abbreviation.notAvailable') }}</template>
      </div>
    </div>
    <div class="Event-description">
      {{ $options.methods.description(props) }}
      <Genres v-if="props.event.genres.length" :genres="props.event.genres" />
      <span v-if="props.event.isPromoted" :title="parent.$t('event.promoted')">
        <Icon icon="heart-1" />
      </span>
      <span v-if="props.event.tags.includes('lauter')" :title="parent.$t('event.promotedLauter', { lauter: 'Lauter' })">
        <Icon icon="lauter-1" className="lauter" />
      </span>
    </div>
  </a>
</template>

<script>
import Genres from '~/components/Genres'
import Icon from '~/components/Icon'
import { Event } from 'assets/types'

export default {
  components: {
    Genres,
    Icon,
  },
  props: {
    event: {
      type: Event,
      required: true,
    },
    isFavoriteVenue: {
      type: Boolean,
      required: true,
    },
    selectedRegionSlug: {
      type: String,
      required: true,
    },
    language: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      required: true,
    },
  },
  methods: {
    from(props) {
      return props.event.fromDT.time[0]
    },
    until(props) {
      if (!props.event.untilDT) {
        return undefined
      }
      return props.event.untilDT.time[0]
    },
    description(props) {
      const description = props.event.description
      return /[.?!:]$/.test(description) ? description : description + '.'
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';

.Event {
  color: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-page-width);
  padding: 10px var(--container-padding);
  position: relative;
  text-decoration: none;

  .Event-meta {
    align-items: flex-end;
    display: flex;
  }

  .Event-meta-venue {
    align-items: center;
    color: var(--color-text-strong);
    display: flex;
    font-weight: $fontWeightBold;
    overflow: hidden;

    .Icon {
      color: var(--color-theme);
      flex-shrink: 0;
      height: 1em;
      margin-bottom: 0.05em;
      margin-left: 0.3em;
      width: 1em;
    }
  }

  .Event-meta-time {
    font-size: $fontSizeSmall;
    margin-bottom: 0.15em;
    margin-left: auto;
    opacity: $opacityTextLight;
    padding-left: 0.5em;

    time:last-child::after {
      content: 'h';
    }
  }

  .Event-description {
    .Icon {
      flex-shrink: 0;
      height: 0.55em;
      margin-left: 0.1em;
      opacity: 0.8;
      width: 0.55em;

      &.lauter {
        height: 0.85em;
        width: 0.85em;
      }
    }
  }
}
</style>
