<template>
  <div class="EventListWeek">
    <WeekdaysMenu />
    <div class="EventListWeek-swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <section
            v-for="(events, eventDate) in eventsByWeek"
            :key="eventDate"
            class="swiper-slide"
            :class="{ 'swiper-slide--hidden': eventDate !== date && !swiperInitialized }"
            :data-history="eventDate"
          >
            <DayEvents :dayEvents="events" :date="eventDate" />
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import debounce from 'lodash.debounce'
import { Swiper } from 'swiper/dist/js/swiper.esm'

import DayEvents from '~/components/DayEvents'
import WeekdaysMenu from '~/components/WeekdaysMenu'
import { isModifierKey } from '~/assets/helpers'

export default {
  components: {
    DayEvents,
    WeekdaysMenu,
  },
  data() {
    return {
      swiperInitialized: false,
    }
  },
  props: {
    date: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      eventsByWeek: 'events/eventsByWeek',
      weekDates: 'datetime/weekDates',
      todayDate: 'datetime/todayDate',
      language: 'i18n/getLanguage',
      regionSlug: 'regions/selectedRegionSlug',
    }),
  },
  mounted: function () {
    if (process.browser) {
      this.swiper = this.createSwiper()
      this.$root.$on('swiper.setSlide', this.setSlide)
    }
  },
  methods: {
    slideByDate(date) {
      let index = this.weekDates.indexOf(date)
      if (index === -1) {
        throw new Error(`Cannot find slide for date '${date}' in '${this.weekDates.join(',')}'`)
      }
      return index
    },
    dateBySlide(slide) {
      return this.weekDates[slide]
    },
    createSwiper() {
      let self = this
      let slide = this.slideByDate(this.date)
      this.$store.dispatch('setSwiperIndex', slide)
      let swiper = new Swiper('.swiper-container', {
        initialSlide: slide,
        keyboard: true,
        on: {
          init: function () {
            self.swiperInitialized = true
          },
        },
      })
      let updateHistoryDebounced = debounce(() => this.updateHistory(swiper.realIndex), 500)
      swiper.cancelUpdateHistoryDebounced = updateHistoryDebounced.cancel
      swiper.on('slideChange', updateHistoryDebounced)
      swiper.on('slideChange', () => this.$store.dispatch('setSwiperIndex', swiper.realIndex))
      return swiper
    },
    async updateHistory(index) {
      let date = this.dateBySlide(index)

      if (date !== this.date) {
        this.$router.push({
          name: 'region-date',
          params: {
            lang: this.language,
            region: this.regionSlug,
            date: date,
          },
        })
      }
    },
    setSlide({ date, index, noAnimation, next, prev }) {
      if (next) {
        this.swiper.slideNext()
        return
      }
      if (prev) {
        this.swiper.slidePrev()
        return
      }
      if (date) {
        index = this.slideByDate(date)
      }
      if (!index && !date) {
        throw new Error(`setSlide() requires either 'date' or 'index'`)
      }
      if (index === this.swiper.realIndex) {
        return
      }
      let animationSpeed = noAnimation ? 0 : undefined
      this.swiper.slideTo(index, animationSpeed)
    },
    handleKeyDown(event) {
      if (isModifierKey(event)) {
        return
      }
      // Left arrow key
      if (event.keyCode === 37) {
        this.$root.$emit('swiper.setSlide', { prev: true })
      }
      // Right arrow key
      if (event.keyCode === 39) {
        this.$root.$emit('swiper.setSlide', { next: true })
      }
    },
  },
  activated() {
    window.addEventListener('keydown', this.handleKeyDown)
  },
  deactivated() {
    window.removeEventListener('keydown', this.handleKeyDown)
    // Called when kept-alive component is deactivated.
    if (this.swiper) {
      this.swiper.cancelUpdateHistoryDebounced()
    }
  },
  beforeDestroy: function () {
    if (this.swiper) {
      this.swiper.destroy(true, false)
      delete this.swiper
      this.$root.$off('swiper.setSlide', this.setSlide)
    }
  },
  watch: {
    todayDate(val) {
      if (this.swiper) {
        this.updateHistory(this.swiper.realIndex)
      }
    },
  },
}
</script>

<style lang="scss">
@import '../node_modules/swiper/dist/css/swiper.css';
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.EventListWeek {
  .EventListWeek-swiper {
    bottom: $footerHeight;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: $headerHeight;

    @include medium {
      bottom: 0;
    }

    .swiper-container {
      display: flex;
      height: 100%;
      width: 100%;
    }

    .swiper-slide {
      height: 100%;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      scrollbar-width: thin; // Style scrollbar on FF

      &.swiper-slide--hidden {
        visibility: hidden;
      }
    }
  }
}
</style>
