<template>
  <div class="EventListDate">
    <EventListDateHint />
    <div class="EventListDate-events">
      <DayEvents :dayEvents="events" :date="this.date" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import DayEvents from '~/components/DayEvents'
import EventListDateHint from '~/components/EventListDateHint'

export default {
  components: {
    DayEvents,
    EventListDateHint,
  },
  props: {
    date: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      eventsByDate: 'events/eventsByDate',
    }),
    events() {
      return this.eventsByDate(this.date)
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.EventListDate {
  .EventListDate-events {
    bottom: $footerHeight;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: $headerHeight;
  }
}
</style>
