<template>
  <div class="EventDetailsMain">
    <div class="container">
      <div class="EventDetailsMain-description">
        <div class="details">
          <div class="details-description">{{ event.description }}</div>
        </div>
      </div>
      <div class="EventDetailsMain-genre" v-if="!isEmpty(event.genres)" :aria-label="$t('event.genres')">
        <Genres :genres="event.genres" />
      </div>
      <div class="EventDetailsMain-eventLinks" v-if="!isEmpty(event.links)">
        <div v-for="(link, key) in event.links" :key="key" :aria-label="$t('event.links')">
          <Icon className="EventDetailsMain-eventLinks-icon" icon="link-1" />
          <LinkExternal :href="link.url">{{ link.label }}</LinkExternal>
        </div>
      </div>
      <div class="EventDetailsMain-notice" v-if="date !== dateTechnicallyCorrect">
        * {{ $t('EventDetailsMain.technicalDateNotice', { date: dateTechnicallyCorrect }) }}
      </div>
      <div class="EventDetailsMain-promoted" v-if="event.isPromoted">
        <Icon icon="heart-1" />
        {{ $t('event.promoted') }}
      </div>
      <div class="EventDetailsMain-promoted" v-if="event.tags.includes('lauter')">
        <Icon icon="lauter-1" className="lauter" />
        <i18n path="event.promotedLauter" tag="span">
          <LinkExternal place="lauter" href="http://lauter.ch/">Lauter</LinkExternal>
        </i18n>
      </div>
    </div>
  </div>
</template>

<script>
import { isEmpty } from 'ramda'
import { DateTime } from 'luxon'
import { mapGetters } from 'vuex'

import Button from '~/components/Button'
import Genres from '~/components/Genres'
import Icon from '~/components/Icon'
import LinkExternal from '~/components/LinkExternal'
import { eventDateParty, eventFromDateTime } from 'assets/dateHelpers'

export default {
  components: {
    Button,
    Genres,
    Icon,
    LinkExternal,
  },
  data() {
    return {
      isEmpty: isEmpty,
    }
  },
  computed: {
    ...mapGetters({
      language: 'i18n/getLanguage',
    }),
    date() {
      return eventDateParty(this.event, this.language).toLocaleString(DateTime.DATE_MED)
    },
    dateTechnicallyCorrect() {
      return eventFromDateTime(this.event, this.language).toLocaleString(DateTime.DATE_MED)
    },
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

$playButtonSize: 60px;

.EventDetailsMain {
  background: linear-gradient(var(--color-bg) 30%, hsla(0, 0%, calc((var(--color-accent-lightness) - 100%) * -1), 0)),
    linear-gradient(hsla(0, 0%, calc((var(--color-accent-lightness) - 100%) * -1), 0), var(--color-bg) 70%) bottom,
    radial-gradient(
      farthest-side at 50% 0,
      hsla(0, 0%, var(--color-accent-lightness), 0.15),
      hsla(0, 0%, var(--color-accent-lightness), 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        hsla(0, 0%, var(--color-accent-lightness), 0.15),
        hsla(0, 0%, var(--color-accent-lightness), 0)
      )
      0 100%;
  background-attachment: local, local, scroll, scroll;
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  padding-bottom: 1em;

  > .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }

  .EventDetailsMain-description {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
    padding-top: 1em;

    .details {
      flex-grow: 1;
      font-size: 1.15em;
    }

    h1 {
      font-size: $fontSize;
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
    }
  }

  .EventDetailsMain-genre {
    margin-bottom: 2em;
  }

  .EventDetailsMain-eventLinks {
    line-height: 1.2;
    margin-bottom: 1em;

    > div {
      align-items: center;
      display: flex;

      .EventDetailsMain-eventLinks-icon {
        margin-right: 0.4em;
        opacity: 0.6;
      }
    }
  }

  .EventDetailsMain-notice {
    font-size: $fontSizeSmall;
    margin-top: auto;
  }

  .EventDetailsMain-promoted {
    font-size: $fontSizeSmall;
    margin-bottom: 0.5em;
    margin-top: auto;
    opacity: 0.8;

    > * {
      vertical-align: middle;
    }

    .Icon {
      height: 0.75em;
      margin-right: 0.1em;
      width: 0.75em;

      &.lauter {
        height: 1em;
        margin-right: 0.1em;
        width: 1em;
      }
    }
  }
}
</style>
