<template functional>
  <span class="Genres">
    <span class="Genres-tag" v-for="(genre, key) in props.genres" :key="key">
      <span
        class="Genres-tag-background"
        :style="{
          'background-image': `linear-gradient(to top, #${genre.category.color} var(--genre-color-size), transparent var(--genre-color-size))`,
        }"
        :title="genre.name"
      ></span>
      <span class="Genres-tag-label">{{ genre.name }}</span>
    </span>
  </span>
</template>

<script>
export default {
  props: {
    genres: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.Genres {
  .Genres-tag {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 0.5em;

      &::after {
        content: ',';
        position: absolute;
      }
    }
  }

  .Genres-tag-background {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;

    body.theme--dark & {
      filter: saturate(1.8);
    }
  }

  .Genres-tag-label {
    position: relative;
  }
}
</style>
