<template functional>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 110">
    <defs>
      <style>
        .cls-1 {
          fill: currentColor;
        }
      </style>
    </defs>
    <title>Logo Tsüri</title>
    <g>
      <path
        class="cls-1"
        d="M16.47,46.33a3.26,3.26,0,0,0,2.33,1h7.77V83.55a3.24,3.24,0,0,0,.95,2.33,3.18,3.18,0,0,0,4.59,0A3.26,3.26,0,0,0,33,83.55V47.28h7.31a3.24,3.24,0,0,0,2.33-1,3.19,3.19,0,0,0,0-4.6,3.24,3.24,0,0,0-2.33-.95H18.8a3.26,3.26,0,0,0-2.33.95,3.21,3.21,0,0,0,0,4.6Zm38.9,31.39a14.47,14.47,0,0,0,3.18,4.75,15.45,15.45,0,0,0,4.7,3.21,14.82,14.82,0,0,0,11.59,0,15.34,15.34,0,0,0,4.73-3.21,14.92,14.92,0,0,0,3.18-4.73A14.7,14.7,0,0,0,83.9,71.9a14.11,14.11,0,0,0-1.18-5.74,15.2,15.2,0,0,0-3.21-4.71,14.94,14.94,0,0,0-4.74-3.21A14.29,14.29,0,0,0,69,57.06l-2.59-.12H66.3a4.84,4.84,0,0,1-3.48-1.35,4.46,4.46,0,0,1-1.41-3.36,4.68,4.68,0,0,1,1.41-3.43,5,5,0,0,1,6.34-.48,4.54,4.54,0,0,1,1.74,2.44,3.29,3.29,0,0,0,1.64,1.9A3.14,3.14,0,0,0,74,53a3,3,0,0,0,1-.17,3.19,3.19,0,0,0,2-1.61,3,3,0,0,0,.4-1.5,3.28,3.28,0,0,0-.17-1,12.72,12.72,0,0,0-1.66-3.24,11.18,11.18,0,0,0-5.69-4.17,11.6,11.6,0,0,0-3.55-.56,11,11,0,0,0-4.45.92,11.87,11.87,0,0,0-3.62,2.45,11.45,11.45,0,0,0-3.35,8.08,10.81,10.81,0,0,0,.88,4.38,11.36,11.36,0,0,0,2.41,3.57,11.63,11.63,0,0,0,3.6,2.44,10.71,10.71,0,0,0,4.41.91l2.59.12h.17a8.26,8.26,0,0,1,3.27.64,8.6,8.6,0,0,1,2.66,1.77,8.06,8.06,0,0,1,2.44,5.84,8.26,8.26,0,0,1-.64,3.27,8.71,8.71,0,0,1-1.77,2.66,8.15,8.15,0,0,1-2.66,1.79,8.33,8.33,0,0,1-3.24.65,8.25,8.25,0,0,1-3.23-.65,8,8,0,0,1-2.66-1.79,8.71,8.71,0,0,1-1.77-2.66,8.26,8.26,0,0,1-.65-3.27V70.23a3.17,3.17,0,0,0-.94-2.31,3,3,0,0,0-2.28-1,3.08,3.08,0,0,0-2.3,1,3.14,3.14,0,0,0-1,2.31V71.9a14.71,14.71,0,0,0,1.15,5.82Zm42.57.57a14,14,0,0,0,3,4.44,14.49,14.49,0,0,0,4.42,3,13.84,13.84,0,0,0,10.91,0,14.34,14.34,0,0,0,4.44-3,14.18,14.18,0,0,0,3-4.44,13.85,13.85,0,0,0,1.09-5.5V44.09a3.24,3.24,0,0,0-1-2.33,3.17,3.17,0,0,0-4.58,0,3.23,3.23,0,0,0-.94,2.33v28.7a7.38,7.38,0,0,1-.58,2.91,7,7,0,0,1-1.61,2.38,7.7,7.7,0,0,1-2.4,1.6,7.43,7.43,0,0,1-8.18-1.6,7.5,7.5,0,0,1-2.19-5.29V44.09a3.26,3.26,0,0,0-.93-2.33,3.18,3.18,0,0,0-4.59,0,3.24,3.24,0,0,0-1,2.33v28.7a13.85,13.85,0,0,0,1.09,5.5Zm41.31,7.59a3.11,3.11,0,0,0,2.3,1,3,3,0,0,0,2.29-1,3.27,3.27,0,0,0,.94-2.33V68.13a17.35,17.35,0,0,0,4.07,1.92,14.37,14.37,0,0,0,4.41.67h.23l8.6,14.5a3.39,3.39,0,0,0,1.25,1.22,3.27,3.27,0,0,0,1.6.42,3.34,3.34,0,0,0,3.22-2.45,2.8,2.8,0,0,0,.09-.86,3.31,3.31,0,0,0-.44-1.64l-7.59-12.83a15,15,0,0,0,5.88-5.42,14.43,14.43,0,0,0,2.23-7.9A14.78,14.78,0,0,0,167.17,50,15,15,0,0,0,164,45.18,15.24,15.24,0,0,0,159.17,42a14.45,14.45,0,0,0-5.79-1.18,13.9,13.9,0,0,0-4.49.72,16.27,16.27,0,0,0-3.94,2,3.18,3.18,0,0,0-1.17-1.92,3.34,3.34,0,0,0-4.47.23,3.14,3.14,0,0,0-1,2.33V83.55a3.24,3.24,0,0,0,.95,2.33Zm6.42-33.37a8.88,8.88,0,0,1,1.79-2.67,8.11,8.11,0,0,1,2.68-1.8,8.42,8.42,0,0,1,9.22,1.8,8.58,8.58,0,0,1,1.8,2.69,8.5,8.5,0,0,1,0,6.47,8.42,8.42,0,0,1-1.8,2.68,8.64,8.64,0,0,1-2.69,1.78,8.47,8.47,0,0,1-3.29.65,8.45,8.45,0,0,1-5.92-2.43A8.57,8.57,0,0,1,145.67,59a8.31,8.31,0,0,1,0-6.49Zm38.06,33.37a3.09,3.09,0,0,0,2.3,1,3,3,0,0,0,2.28-1,3.23,3.23,0,0,0,.94-2.33V44.09a3.23,3.23,0,0,0-.94-2.33,3,3,0,0,0-2.28-1,3.09,3.09,0,0,0-2.3,1,3.2,3.2,0,0,0-.95,2.33V83.55a3.2,3.2,0,0,0,.95,2.33Z"
      />
      <path class="cls-1" d="M104.85,31.75a4.31,4.31,0,1,0-4.3-4.3,4.31,4.31,0,0,0,4.3,4.3Z" />
      <path class="cls-1" d="M117.76,31.75a4.31,4.31,0,1,0-4.31-4.3,4.31,4.31,0,0,0,4.31,4.3Z" />
      <path class="cls-1" d="M186.2,31.75a4.31,4.31,0,1,0-4.3-4.3,4.3,4.3,0,0,0,4.3,4.3Z" />
    </g>
  </svg>
</template>
