<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.27 233.8" class="MapPlaceholder">
    <title>{{ $t('EventDetailsMap.map') }}</title>
    <g id="Layer_1" data-name="Layer 1">
      <path
        class="MapPlaceholder-other"
        d="M123.3,134.13a9.9,9.9,0,0,0-10,9.77c0,7.1,9.29,15.75,9.68,16.12a.41.41,0,0,0,.3.11.46.46,0,0,0,.29-.11c.4-.38,9.65-9.24,9.65-16.12A9.74,9.74,0,0,0,123.3,134.13Zm0,13a3.44,3.44,0,1,1,3.45-3.44A3.44,3.44,0,0,1,123.3,147.08Z"
      />
      <path
        class="MapPlaceholder-other"
        d="M440.91,57.05a8.57,8.57,0,0,0-8.66,8.45c0,6.15,8,13.63,8.38,14a.39.39,0,0,0,.25.1.36.36,0,0,0,.26-.11c.34-.32,8.36-8,8.36-13.94A8.43,8.43,0,0,0,440.91,57.05Zm0,11.2a3,3,0,1,1,3-3A3,3,0,0,1,440.91,68.25Z"
      />
      <path
        class="MapPlaceholder-other"
        d="M404.22,171a13.51,13.51,0,0,0-13.65,13.33c0,9.69,12.67,21.5,13.21,22a.55.55,0,0,0,.4.16.57.57,0,0,0,.4-.16c.54-.51,13.17-12.61,13.17-22A13.29,13.29,0,0,0,404.22,171Zm0,17.68a4.7,4.7,0,1,1,4.69-4.7A4.7,4.7,0,0,1,404.22,188.68Z"
      />
      <path
        class="MapPlaceholder-other"
        d="M58.58,35.1A16.71,16.71,0,0,0,41.71,51.59c0,12,15.66,26.59,16.33,27.2a.73.73,0,0,0,1,0c.67-.64,16.29-15.6,16.29-27.2A16.44,16.44,0,0,0,58.58,35.1Zm0,21.86a5.81,5.81,0,1,1,5.81-5.81A5.81,5.81,0,0,1,58.59,57Z"
      />
      <path
        class="MapPlaceholder-other"
        d="M237.47,45.53a12.7,12.7,0,0,1,7-1.84,15.12,15.12,0,0,1,9.08,2.61c2.42,1.75,3.62,4.33,3.62,7.75a8.71,8.71,0,0,1-1.57,5.29,17.49,17.49,0,0,1-3.52,3.34L250.39,64a5.18,5.18,0,0,0-1.86,2.54,10.72,10.72,0,0,0-.31,2.86h-6.56a19.07,19.07,0,0,1,.77-5.65,10,10,0,0,1,3.23-3.59l1.76-1.38a6.09,6.09,0,0,0,1.4-1.43,4.84,4.84,0,0,0,1-2.93,5.65,5.65,0,0,0-1.08-3.35c-.71-1-2-1.51-3.92-1.51a4.33,4.33,0,0,0-4,1.86,7.22,7.22,0,0,0-1.17,3.87h-7Q232.95,48.42,237.47,45.53Zm4,27.19h7.23v7h-7.23Z"
      />
      <path class="MapPlaceholder-foot" d="M226.11,197.7h17.48A10.09,10.09,0,0,0,226.11,197.7Z" />
      <path class="MapPlaceholder-foot" d="M247.13,197.7H264.6A10.08,10.08,0,0,0,247.13,197.7Z" />
      <path
        class="MapPlaceholder-body"
        d="M238.55,185.53l6.39,6.75,6.36-6.68,4.56,3.83s13-20,21.71-20.75a105.32,105.32,0,0,0,2.06-25.94h0c0-.36-.13-.67-.13-1h.06a65.35,65.35,0,0,0-4.89-18.81c-2.24-4.78,2.81-9.85-1.11-17.22-8.06,8.66-21.24,7.52-28.64,7.52s-20.55,1.13-28.6-7.53c-3.93,7.36,1.15,12.41-1.09,17.19a58,58,0,0,0-5,19.87,97.62,97.62,0,0,0,2.12,25.95c8.69.77,21.71,20.74,21.71,20.74Z"
      />
      <path
        class="MapPlaceholder-face"
        d="M244.94,148.54c-1.26-.81-4.89-3.55-4.89-7.57,0-6.49,4.91-6.24,4.91-6.25s4.87-.24,4.87,6.25C249.84,145,246.2,147.73,244.94,148.54Z"
      />
      <path
        class="MapPlaceholder-face"
        d="M232,120.21a12.17,12.17,0,0,0,0,24.33,12,12,0,0,0,6.68-2,7.31,7.31,0,0,1-.18-1.56c0-4.42,2.19-7.38,5.64-7.77,0-.28,0-.55,0-.82A12.18,12.18,0,0,0,232,120.21Zm0,14.1a4.94,4.94,0,1,1,4.94-4.93A4.94,4.94,0,0,1,232,134.31Z"
      />
      <path
        class="MapPlaceholder-face"
        d="M257.94,120.21a12.18,12.18,0,0,0-12.16,12.17c0,.27,0,.54,0,.82,3.45.39,5.63,3.35,5.63,7.77a6.72,6.72,0,0,1-.18,1.56,12.16,12.16,0,1,0,6.68-22.32Zm0,14.1a4.94,4.94,0,1,1,4.94-4.93A4.93,4.93,0,0,1,257.94,134.31Z"
      />
    </g>
  </svg>
</template>

<style lang="scss">
.MapPlaceholder {
  .MapPlaceholder-other,
  .MapPlaceholder-foot {
    fill: currentColor;
  }

  .MapPlaceholder-body {
    fill: var(--owl-body-fill);
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
  }

  .MapPlaceholder-face {
    fill: var(--owl-face-fill);
  }
}
</style>
