<template>
  <div :class="{ 'navigation--active': $store.state.isNavigationVisible }" id="navigation" class="navigation">
    <div class="navigation-overlay fill-parent" @click="$store.commit('toggleNavigationVisibility', false)" />
    <div class="navigation-inner fill-parent">
      <div class="background fill-parent" />
      <div class="menu-wrapper fill-parent">
        <div class="menu-wrapper-inner">
          <Menu :items="main" menuClass="menu--main" />
          <Menu :items="about" menuClass="menu--about" />
          <div class="settings">
            <!-- <Select
              id="sortEvents"
              icon="shuffle-1"
              :label="$t('Navigation.sortEvents.label')"
              :options="sortEventsOptions"
              v-model="eventListSorting"
            />-->
            <SelectInvisible
              id="nightMode"
              icon="half-moon-1"
              showLabel
              :label="$t('Navigation.nightMode.label')"
              :options="nightModeOptions"
              v-model="nightMode"
            />
            <i18n-switcher />
          </div>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <Button
        v-show="$store.state.isNavigationVisible"
        class="navigation-close"
        color="footer"
        icon="close-1"
        @click.native="$store.commit('toggleNavigationVisibility', false)"
        >{{ $t('button.close') }}</Button
      >
    </transition>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { ascend, sortWith } from 'ramda'

import Button from '~/components/Button'
import Menu from '~/components/Menu'
import SelectInvisible from '~/components/SelectInvisible'

export default {
  components: {
    Button,
    Menu,
    SelectInvisible,
  },
  computed: {
    ...mapFields('userPreferences', ['eventListSorting', 'nightMode']),
    ...mapState({
      regions: (state) => state.regions.regions,
    }),
    ...mapGetters({
      todayDate: 'datetime/todayDate',
      selectedRegionSlug: 'regions/selectedRegionSlug',
    }),
    main() {
      const regions = this.regions.map((region) => {
        let menuEntry = {
          path: `/${region.slug}/${this.todayDate}`,
          slug: region.slug,
          label: region.name,
        }
        if (region.slug === this.selectedRegionSlug) {
          menuEntry.class = 'region-link-active'
        }
        return menuEntry
      })
      return sortWith([ascend((region) => region.label.toLowerCase())])(regions)
    },
    about() {
      return [
        {
          path: '/add',
          label: this.$t('page.add'),
        },
        {
          path: '/about',
          label: this.$t('page.about'),
        },
        {
          url: 'https://www.denkmalmit.org',
          label: this.$t('page.support'),
          class: 'support-link',
        },
      ]
    },
    nightModeOptions() {
      return {
        on: this.$t('Navigation.nightMode.options.on'),
        off: this.$t('Navigation.nightMode.options.off'),
        auto: this.$t('Navigation.nightMode.options.auto'),
      }
    },
    sortEventsOptions() {
      return {
        alphabetically: this.$t('Navigation.sortEvents.options.alphabetically'),
        proximity: this.$t('Navigation.sortEvents.options.proximity'),
      }
    },
  },
  watch: {
    $route: function () {
      this.$store.commit('toggleNavigationVisibility', false)
    },
    nightMode(val) {
      this.$store.commit('toggleNavigationVisibility', false)
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

$breakpointHeight: 520px;

.navigation {
  --navigationWidth: 290px;
  --navigationPadding: 8vw;

  @include small {
    --navigationWidth: 350px;
    --navigationPadding: 60px;
  }

  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: $headerHeight;
  width: 100%;
  z-index: 10;

  .navigation-overlay {
    background-color: $colorOverlay;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-out;
  }

  .navigation-inner {
    padding-bottom: 1px;
    padding-top: 1px;
    transform: translate3d(120%, 0, 0);
    transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  }

  .background {
    background-color: var(--color-navigation-bg);
    transform: skew(-10deg);
    transition: transform 400ms ease-out;
  }

  .menu-wrapper {
    align-items: flex-end;
    color: var(--color-navigation-fg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--navigationWidth);

    .menu-wrapper-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      padding: 5vh var(--navigationPadding) calc(#{$footerHeight} + 3vh);
      scrollbar-width: thin; // Style scrollbar on FF

      @media screen and (min-height: $breakpointHeight) {
        padding-top: 300px;
      }
    }
  }

  .menu {
    right: var(--navigationPadding);
    text-align: right;

    @media screen and (min-height: $breakpointHeight) {
      position: absolute;
    }

    ul {
      margin-bottom: 2vh;
      margin-top: 2vh;
    }

    li {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
    }

    a {
      color: inherit;
      display: block;
      opacity: 0.8;
      padding: 0.2em 0;
      text-decoration: none;
    }

    .nuxt-link-active,
    .region-link-active {
      font-weight: $fontWeightBold;
      opacity: 1;
    }

    &.menu--main {
      font-size: 1.9rem;
      margin-bottom: 2vh;
      top: 5vh;

      @for $i from 1 to 4 {
        li:nth-child(#{$i}) {
          transition-delay: ($i * 50ms);
        }
      }
    }

    &.menu--about {
      font-size: 1.5rem;
      margin-bottom: 1.5em;
      top: calc(5vh + 140px);

      @for $i from 1 to 4 {
        li:nth-child(#{$i}) {
          transition-delay: ($i * 50ms) + 150ms;
        }
      }
    }

    .support-link::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateX(-1.25rem) translateY(-50%);
      height: 0.8rem;
      width: 0.8rem;
      background-color: var(--color-notification);
      border-radius: 50%;
    }
  }

  &.navigation--active {
    pointer-events: auto;

    .navigation-overlay {
      opacity: 1;
      pointer-events: auto;
    }

    .background {
      transform: skew(3deg);
    }

    .navigation-inner {
      transform: translate3d(calc(100% - var(--navigationWidth)), 0, 0);
    }

    .menu li {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition-delay: 0;
    }
  }

  .settings {
    font-size: 1.1rem;
    margin-top: auto;
  }

  .NightModeSwitch,
  .SortEvents {
    margin-bottom: 0.1em;
  }

  .NightModeSwitch {
    display: flex;
    justify-content: flex-end;
  }

  .language-switcher {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: inherit;
      display: block;
      opacity: 0.8;
      padding: 0.3em;
      text-decoration: none;
      text-transform: uppercase;

      &.nuxt-link-exact-active {
        font-weight: $fontWeightBold;
        opacity: 1;
      }
    }

    li:last-child {
      a {
        padding-right: 0;
      }
    }
  }

  .navigation-close {
    bottom: 0;
    box-shadow: 0 -4px 12px hsla(0, 0%, var(--color-accent-lightness), 0.1);
    height: $footerHeight;
    left: 0;
    margin: 0;
    position: fixed !important; // Need important here b/c of v-ripple
    width: 100%;

    @include medium {
      display: none;
    }
  }
}
</style>
