@import '~@/assets/styles/variables.scss';
@import '~@/assets/styles/mixins.scss';
@import '~@/assets/styles/animations.scss';
@import '~@/assets/styles/transitions.scss';

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    // Only use "woff" format, because we inline fonts into the HTML.
      //url(~assets/fonts/open-sans-v15-latin-regular.woff2) format('woff2'),
      url(~assets/fonts/open-sans-v15-latin-regular.woff) format('woff');
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    // Only use "woff" format, because we inline fonts into the HTML.
      //url(~assets/fonts/open-sans-v15-latin-600.woff2) format('woff2'),
      url(~assets/fonts/open-sans-v15-latin-600.woff) format('woff');
}

html {
  box-sizing: border-box;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.4;
  -webkit-tap-highlight-color: $colorTap;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text);
  margin: 0;
}

@include placeholder {
  color: var(--color-placeholder);
}

::-moz-focus-inner {
  border: 0; // Reset FF focus outline
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  color: var(--color-text-strong);
}

h1 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  margin-bottom: 0.2em;
  margin-top: 1em;
}

h3 {
  margin-bottom: 0.6em;
  margin-top: 0;
}

p {
  margin: 0 0 1em 0;
}

textarea {
  min-height: $inputHeight * 2;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

textarea,
input[type='text'],
input[type='tel'] {
  appearance: none;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: $borderRadius;
  box-shadow: none;
  color: inherit;
  font: inherit;
  height: $inputHeight;
  outline: 0;
  padding-left: 0.8em;
  padding-right: 0.8em;
  transform: translate3d(0, 0, 0);
  width: 100%;

  &:active,
  &:focus {
    border-color: var(--color-theme);
  }
}

small {
  opacity: 0.7;
}

hr {
  border: solid var(--color-border);
  border-width: 1px 0 0 0;
  height: 0;
  margin-top: 3em;
}

img {
  color: transparent;
  display: block;
  max-width: 100%;
}

.button-reset {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  position: relative;
  text-transform: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.select-reset {
  appearance: none;
  background: transparent;
  border: 0;
  box-shadow: none;
  font: inherit;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: var(--max-page-width);
}

.section {
  padding-bottom: 3em;
  padding-top: 1em;
}

// Helpers
.fill-parent {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.text-overflow-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ratio-keeper {
  padding-bottom: 56.25%;
  position: relative;

  > * {
    @extend .fill-parent;
  }
}

.spinner {
  display: inline-flex;

  &::after {
    animation: spinAround 0.5s infinite linear;
    border: 2px solid currentColor;
    border-radius: 0.5rem;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    height: 1rem;
    margin: 0.3em;
    position: relative;
    width: 1rem;
  }
}

// Typography helpers
.label {
  color: var(--color-text-strong);
  font-size: $fontSizeTiny;
  margin-bottom: 0.2em;
  opacity: 0.8;
  text-transform: uppercase;
}

.color-error {
  color: var(--color-error);
}

.color-theme {
  color: var(--color-theme);
}

// Animations
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
