// Breakpoints
$breakpointMini: 360px;
$breakpointSmall: 600px;
$breakpointMedium: 900px;

// Colors
$opacityTextLight: 0.8;
$colorOverlay: rgba(0, 0, 0, 0.7);
$colorTap: rgba(0, 0, 0, 0.05);

$borderRadius: 5px;

// Typography
$fontFamily: 'Open Sans', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
$fontSize: 17px;
$fontSizeSmall: 0.875em;
$fontSizeTiny: 0.6em;
$lineHeight: 1.4;

$fontWeight: 400;
$fontWeightBold: 600;

// Miscellaneous
$headerHeight: 3.2rem;
$footerHeight: 3.2rem;

$radius: 5px;
$inputHeight: 2.8rem;
