<template>
  <div class="Layout" @keyup.esc="$store.commit('toggleNavigationVisibility', false)">
    <header class="Layout-header">
      <Header />
      <Navigation />
    </header>
    <main class="Layout-main">
      <nuxt keep-alive :keep-alive-props="{ exclude: ['add'], max: 5 }" />
    </main>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex'

import Button from '~/components/Button'
import Header from '~/components/Header'
import Navigation from '~/components/Navigation'

export default {
  _isVue: true, // Avoid making Layout reactive on `App` (https://stackoverflow.com/a/56091103/3090404)
  components: {
    Button,
    Header,
    Navigation,
  },
  head() {
    return {
      title: null,
      titleTemplate: (titleChunk) => {
        return titleChunk ? `${titleChunk} - Denkmal.org` : `Denkmal.org ${this.$t('page.index')}`
      },
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.selectedRegionSlug
            ? this.$t(`meta.description.${this.selectedRegionSlug}`)
            : this.$t('meta.description.generic'),
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$t('meta.keywords'),
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      isNightMode: 'userPreferences/isNightMode',
      selectedRegionSlug: 'regions/selectedRegionSlug',
    }),
  },
  methods: {
    setThemeClasses() {
      let themeClasses = []

      const availableThemeClasses = {
        tsri: 'theme--region-tsri',
        basel: 'theme--region-basel',
        dark: 'theme--dark',
      }

      document.body.classList.remove(...Object.values(availableThemeClasses))

      if (this.selectedRegionSlug) {
        themeClasses.push(availableThemeClasses[this.selectedRegionSlug])
      }

      if (this.isNightMode) {
        themeClasses.push(availableThemeClasses['dark'])
      }

      if (themeClasses.length) {
        document.body.classList.add(...themeClasses)
      }
    },
  },
  mounted() {
    this.setThemeClasses()
  },
  watch: {
    isNightMode() {
      this.setThemeClasses()
    },
    selectedRegionSlug() {
      this.setThemeClasses()
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/mixins';
// Theme defaults
:root {
  --color-theme: #989898;
  --color-theme-secondary: white;
  --color-theme-secondary-fg: #333;
  --color-theme-fg: white;
  --color-bg-body: #fbfbfb;
  --color-bg: white;
  --color-border: #e8e8e8;
  --color-text: #333;
  --color-text-strong: #333;
  --color-action-bar-bg: rgb(30, 30, 30);
  --color-action-bar-fg: white;
  --color-weekdays-active-bg: rgba(255, 255, 255, 0.1);
  --color-weekdays-active-fg: white;
  --color-snackbar-bg: rgb(30, 30, 30);
  --color-snackbar-fg: white;
  --color-header-bg: var(--color-theme);
  --color-navigation-bg: #333;
  --color-navigation-fg: white;
  --color-placeholder: rgb(196, 196, 196);
  --color-error: #ea5b5b;
  --color-warning: #e87f07;
  --color-notification: #ec503d;
  --color-accent-lightness: 20%;
  --genre-color-size: 25%;
  --container-padding: 4vw;
  --max-page-width: 900px;
  --weekday-menu-left: 0;
  --owl-body-fill: currentColor;
  --owl-face-fill: white;

  @include medium {
    --container-padding: 50px;
    --weekday-menu-left: calc((100vw - var(--max-page-width)) / 2 + 230px);
  }
}

// Theme overwrites
.theme--region-basel {
  --color-theme: #8ba9a3;
  --color-header-bg: var(--color-theme); // Not sure why this is necessary
}

.theme--region-tsri {
  --color-theme: #3dafe7;
  --color-header-bg: var(--color-theme); // Not sure why this is necessary
}

.theme--dark {
  --color-bg: black;
  --color-bg-body: #151515;
  --color-theme-fg: #acacac;
  --color-action-bar-fg: #acacac;
  --color-text: #cacaca;
  --color-text-strong: #c9c9c9;
  --color-border: #272727;
  --color-header-bg: #010101;
  --color-action-bar-bg: #010101;
  --color-weekdays-active-bg: transparent;
  --color-weekdays-active-fg: var(--color-theme);
  --color-snackbar-bg: var(--color-theme);
  --color-navigation-bg: #1b1b1b;
  --color-placeholder: rgb(96, 96, 96);
  --color-error: #f38888;
  --color-warning: #ffa742;
  --weekday-menu-left: calc((100vw - var(--max-page-width)) / 2 + 120px);
  --color-theme-secondary: var(--color-theme);
  --color-theme-secondary-fg: var(--color-theme-fg);
  --color-accent-lightness: 90%;
  --genre-color-size: 2px;
  --owl-body-fill: none;
  --owl-face-fill: currentColor;

  &.theme--region-tsri {
    --color-theme: #5ba4c8;
    --color-theme-secondary-fg: white;
  }
}

:focus {
  outline-color: var(--color-theme);
}

.Layout {
  .Layout-header {
    height: $headerHeight;
    min-height: $headerHeight;
  }
}
</style>
