<template> </template>

<script>
export default {
  name: 'index',
  async asyncData({ store, redirect }) {
    // Make sure 'selectedRegionSlug' is loaded before doing the redirect
    await store.dispatch('regions/loadSelectedRegionFromStorage')

    let lang = store.getters['i18n/getLanguage']
    let region = store.getters['regions/selectedRegionSlug']
    let date = store.getters['datetime/todayDate']

    if (region) {
      redirect({
        name: 'region-date',
        params: { lang, region, date },
      })
    } else {
      redirect({
        name: 'regions',
        params: { lang },
      })
    }
  },
}
</script>
