<template>
  <section class="page-regions container">
    <p class="intro">{{ $t('meta.description.generic') }}</p>
    <Regions />
  </section>
</template>

<script>
import Regions from '~/components/Regions'

export default {
  name: 'regions',
  head() {
    return {
      title: this.$t('page.regions'),
    }
  },
  components: {
    Regions,
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables.scss';
@import '../assets/styles/mixins.scss';

.page-regions {
  padding-bottom: 1.5em;
  padding-top: 6vh;

  .intro {
    @include small {
      font-size: 1.6em;
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      text-align: center;
    }
  }
}
</style>
