<template>
  <div class="page-add container">
    <section class="section">
      <form class="form" @submit.prevent="handleSubmit" novalidate="true">
        <h1 class="title">{{ $t('page.add') }}</h1>
        <FormField name="region" :label="$t('event.region')" :value="region" isRequired>
          <Select
            id="region"
            name="region"
            :key="region"
            :label="$t('event.region')"
            :options="regionOptions"
            :data-vv-as="$t('event.region')"
            v-model="region"
            v-validate="'required'"
          />
        </FormField>

        <FormField
          name="venue"
          :label="$t('event.venue')"
          placeholder="96amStück"
          :value="inputVenue"
          isRequired
          v-show="region"
        >
          <InputAutosuggest
            name="venue"
            v-model="inputVenue"
            :data-vv-as="$t('event.venue')"
            v-validate="'required'"
            placeholder="96amStück"
            :suggestions="venueSuggestions"
          />
        </FormField>

        <div class="form-date">
          <FormField name="date" :label="$t('event.date')" :value="date" isRequired>
            <Datepicker
              name="date"
              :disabledDates="disabledDates"
              :language="datePickerlanguages[this.language]"
              v-model="inputDate"
              :format="customDatePickerFormat"
              :data-vv-as="$t('event.date')"
              v-validate="{
                required: true,
                eventDate: [fromMin, fromMax],
              }"
            />
          </FormField>

          <div class="form-date-time">
            <FormField
              name="time"
              :label="$t('event.time')"
              placeholder="hh:mm"
              type="tel"
              inputmode="numeric"
              :validate="{ required: true, regex: /^(0[0-9]|1[0-9]|2[0-3]|[0-9]):[0-5][0-9]$/ }"
              v-model="inputTime"
              isRequired
              vmask="##:##"
            />
            <FormField
              name="until"
              :label="$t('event.closing')"
              placeholder="hh:mm"
              type="tel"
              inputmode="numeric"
              :validate="{ regex: /^(0[0-9]|1[0-9]|2[0-3]|[0-9]):[0-5][0-9]$/ }"
              v-model="inputUntil"
              vmask="##:##"
            />
          </div>
        </div>
        <div v-show="edgeDate" class="form-edge-date-notice">
          <Icon icon="megaphone-1" />{{ $t('Add.edgeDate', { date: eventDay }) }}
        </div>

        <FormField name="description" :label="$t('event.description')" :value="inputDescription" isRequired>
          <textarea
            name="description"
            v-model="inputDescription"
            :data-vv-as="$t('event.description')"
            placeholder="Meet the Rich vol.8"
            v-validate="'required|min:3'"
            data-vv-validate-on="change|blur"
          />
        </FormField>

        <FormField name="genres" :label="$t('event.genres')" placeholder="metal, blues, glam" v-model="inputGenres" />
        <FormField
          name="links"
          :label="$t('event.link')"
          placeholder="https://facebook.com/event/12345"
          :validate="{
            regex: /^https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/,
          }"
          v-model="inputLinks"
        />
        <div>
          <small>* {{ $t('Add.requiredField') }}</small>
        </div>
        <div v-show="error" class="form-error color-error">
          <strong>{{ $t('Add.error') }}</strong>
          <div>
            <small>{{ error }}</small>
          </div>
        </div>
        <div class="form-action">
          <Button :isLoading="loading" type="submit">{{ $t('button.save') }}</Button>
        </div>
      </form>
    </section>
    <footer v-if="selectedRegion && selectedRegion.email" class="page-add-footer">
      <div>{{ $t('Add.contactUs') }}</div>
      <a :href="`mailto:${selectedRegion.email}`">{{ selectedRegion.email }}</a>
    </footer>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { DateTime } from 'luxon'
import { Validator } from 'vee-validate'
import { initValidation } from '~/plugins/vee-validate'
import { initVMask } from '~/plugins/v-mask'
import { includes, find, path, pathOr, propEq, pipe, pluck } from 'ramda'
import Datepicker from 'vuejs-datepicker/dist/vuejs-datepicker.esm.js'
import * as lang from 'vuejs-datepicker/src/locale'

import Button from '~/components/Button'
import FormField from '~/components/FormField'
import Icon from '~/components/Icon'
import InputAutosuggest from '~/components/InputAutosuggest'
import Select from '~/components/Select'
import { dateTimeNow } from '../../assets/helpers'

const fromMax = dateTimeNow().plus({ years: 1 })
const fromMin = dateTimeNow()

Validator.extend('eventDate', {
  validate: (value) => {
    const date = DateTime.fromJSDate(value)
    return date.isValid && date < fromMax && date >= fromMin.startOf('day')
  },
})

initValidation()
initVMask()

function formatDateWithLang(date, locale) {
  return date.setLocale(locale).toLocaleString(DateTime.DATE_SHORT)
}

const timeObjectFromInputString = (inputTime) => {
  if (!/^(0[0-9]|1[0-9]|2[0-3]|[0-9]):[0-5][0-9]$/.test(inputTime)) {
    return
  }
  let timeParts = inputTime.split(':')
  timeParts = timeParts.map(Number)
  return { hours: timeParts[0], minutes: timeParts[1] }
}

const dictionary = {
  en: {
    custom: {
      date: {
        eventDate: (field, [min, max]) => {
          return `The ${field} must be between ${formatDateWithLang(min, 'en')} and ${formatDateWithLang(max, 'en')}.`
        },
      },
    },
  },
  de: {
    custom: {
      date: {
        eventDate: (field, [min, max]) =>
          `${field} muss zwischen ${formatDateWithLang(min, 'de')} und ${formatDateWithLang(max, 'de')} liegen.`,
      },
    },
  },
}

export default {
  name: 'add',
  head() {
    return {
      title: this.$t('page.add'),
    }
  },
  components: {
    Button,
    FormField,
    Icon,
    Datepicker,
    InputAutosuggest,
    Select,
  },
  data() {
    return {
      error: false,
      loading: false,
      date: dateTimeNow().startOf('day').toISO(),
      inputDescription: '',
      inputTime: '22:00',
      inputGenres: '',
      inputLinks: '',
      inputUntil: '',
      inputVenue: '',
    }
  },
  computed: {
    ...mapState({
      regions: (state) => state.regions.regions,
    }),
    ...mapGetters({
      language: 'i18n/getLanguage',
      selectedRegionSlug: 'regions/selectedRegionSlug',
      selectedRegion: 'regions/selectedRegion',
    }),
    venueSuggestions() {
      return pathOr([], ['venues'])(this.selectedRegion)
    },
    fromMin() {
      return fromMin
    },
    fromMax() {
      return fromMax
    },
    disabledDates() {
      return { to: fromMin.minus({ day: 1 }).toJSDate(), from: fromMax.toJSDate() }
    },
    datePickerlanguages() {
      return lang
    },
    regionOptions() {
      return [
        { label: this.$t('Add.pleaseSelect'), value: '', disabled: this.selectedRegionSlug },
        ...this.regions.map((region) => ({
          label: region.name,
          value: region.slug,
        })),
      ]
    },
    edgeDate() {
      const hours = this.inputTime.split(':')[0]
      const dayOffset = pathOr(0, ['dayOffset'])(this.selectedRegion)
      return parseInt(hours) < dayOffset
    },
    eventDay() {
      return DateTime.fromJSDate(this.inputDate)
        .minus({ day: 1 })
        .setLocale(this.language)
        .toLocaleString(DateTime.DATE_SHORT)
    },
    inputDate: {
      get() {
        return DateTime.fromISO(this.date).toJSDate()
      },
      set(value) {
        this.date = DateTime.fromJSDate(value).toISO()
      },
    },
    region: {
      get() {
        return this.selectedRegionSlug
      },
      set(val) {
        this.$store.dispatch('regions/setSelectedRegionBySlug', val)
      },
    },
  },
  methods: {
    handleSubmit: function () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.loading = true
          this.$denkmalApi
            .suggestEvent({
              regionSlug: this.selectedRegionSlug,
              venueName: this.inputVenue,
              description: this.inputDescription,
              from: this.createFromDateTime(),
              until: this.createUntilDateTime(),
              links: this.sanitizeLinks(this.inputLinks),
              genres: this.sanitizeGenres(this.inputGenres),
            })
            .then(() => {
              this.$router.push({
                name: 'add-success',
                params: {
                  lang: this.language,
                },
              })
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
              this.error = error
            })
        }
      })
    },
    customDatePickerFormat(date) {
      return formatDateWithLang(DateTime.fromJSDate(date), this.language)
    },
    sanitizeLinks(linkInput) {
      let links = []
      const label = /facebook.com|fb.me/.test(linkInput) ? 'Facebook' : 'Website'
      if (linkInput) {
        links.push({ url: linkInput, label: label })
      }
      return links
    },
    sanitizeGenres(genreInut) {
      let genres = []
      genreInut.split(/[,;]/).map((genre) => {
        if (genre.length > 2) {
          genres.push(genre)
        }
      })
      return genres
    },
    createFromDateTime() {
      let fromDate = DateTime.fromISO(this.date)
      return fromDate.set(timeObjectFromInputString(this.inputTime))
    },
    createUntilDateTime() {
      let untilTime = timeObjectFromInputString(this.inputUntil)
      if (!untilTime) {
        return
      }
      let fromDate = DateTime.fromISO(this.date)

      let fromDateTime = fromDate.set(timeObjectFromInputString(this.inputTime))
      let untilDateTime = fromDate.set(untilTime)

      if (fromDateTime >= untilDateTime) {
        untilDateTime = untilDateTime.plus({ days: 1 })
      }
      return untilDateTime
    },
  },
  created() {
    this.$validator.localize(dictionary)
  },
}
</script>
<style lang="scss">
@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.page-add {
  .form-date {
    @include small {
      display: flex;
    }
  }

  .form-date-time {
    display: flex;
    margin-left: auto;

    .FormField {
      width: 120px;

      &:first-child {
        margin-right: 0.3em;
      }
    }
  }

  .form-edge-date-notice {
    align-items: center;
    display: flex;
    font-size: $fontSizeSmall;
    margin-bottom: 1.2em;
    padding: 0.2em;

    .Icon {
      color: var(--color-warning);
      margin-right: 0.4em;
    }
  }

  .form-error {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .form-action {
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .page-add-footer {
    font-size: $fontSizeSmall;
    opacity: 0.8;
    padding: 0.3em 10vw 2em;
    text-align: center;
  }

  .vdp-datepicker__calendar {
    background-color: var(--color-bg);
    border-color: var(--color-border);

    header {
      .prev:not(.disabled):hover,
      .next:not(.disabled):hover,
      .up:not(.disabled):hover {
        background: var(--color-bg-body);
      }

      .next::after {
        border-left-color: currentColor;
      }

      .prev::after {
        border-right-color: currentColor;
      }
    }

    .cell.selected {
      color: var(--color-theme-fg);
    }

    .disabled {
      color: currentColor;
      opacity: 0.5;
    }

    .cell:not(.blank):not(.disabled) {
      &.day:hover,
      &.month:hover,
      &.year:hover {
        border-color: var(--color-theme);
      }
    }
  }
}
</style>
