<template>
  <div class="page-add-success container">
    <section class="section">
      <Box :title="$t('Add.success')">
        <p>{{ $t('Add.thankYou') }}</p>

        <template v-slot:buttons>
          <Button color="transparent" :to="localePath('/add')">
            {{ $t('button.addEvent') }}
          </Button>
        </template>
      </Box>
    </section>
  </div>
</template>

<script>
import Button from '~/components/Button'
import Box from '~/components/Box'

export default {
  name: 'add-success',
  components: {
    Button,
    Box,
  },
}
</script>
